*{
    background-color: black;
    color: white;
}

.Container {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    min-height: 100vh;       /* Full viewport height */
    text-align: center;
  }
  
  .TaskList {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Space between elements */
  }
  
  .TaskListBox {
    background-color: #007bff;
    width: 20vw;
    color: white;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    padding: 15px 20px;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .TaskListBox:hover {
    background-color: #0056b3;
  }
  